/* Title: main.css
 * Primary Contributors: Jas Aguon and Jun Alvarado
 * Summary: Default CSS for the entire site.
 * Detailed Description: Divided into 2 mian sections: (1) site, (2) page.
 * Each of the two sections are sub-divided into 5 sub-sections.
 * ---------------------------------------- */
 
/* START reset */
*	{ 
	margin: 0; 
	padding:0; }
/* END reset */

/* ---------------------------------------- */

/* START SITE general */

/* START entire site body */

body, p {
	background-color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #030303;
}

h2 { 
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
}
	
/* END entire site body */

/* START entire site navigation */
a, a:link {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #7AB4BF;
	
}

a:hover {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #8EC9D6;
	
}

a:visited {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #51787F;
	
}

a:active {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #668B8B;
	
}

#headSection {
	margin: 0 auto;
	
}

/* END entire site  navigation */

ul {
	padding: 0;
	list-style-type: none;
}

.topNav {
	margin: 0 auto;
	padding-left: 20px;
	
}















/* START entire site main content */

/* END entire site main content */

/* START entire site element specific */

#mainContainer {
	width: 80%;
	margin: 0 auto;
	float: none;
	
}

.topInfo {
	color: orange;
	margin: 0 10px;
	padding: 10px;
}

#bookingInfo {
	background-color: #333;
	width: 20%;
}


.bookingStyle {
	color: #fff;
	margin: 0 auto;
	padding: 10px;
	background-color: #333;
}

#footer {}

.footer {
	background-color: #ccc;
	color: hotpink;
	font-size: 10px;
}


/* END entire site element specific */

/* END SITE general */

/* ---------------------------------------- */

/* START PAGE specific */

/* START page specific body */

/* END page specific body */

/* START page specific navigation */

/* END page specific navigation */

/* START page specific main content */

/* END page specific main content */

/* START page specific element specific */

/* END page specific element specific */

#bottomInfo {
	color: #555;
	margin: 0 auto;
	
}

.bottomPara {
	color: orange;
}

/* END PAGE specific */
