/*
    colors:
        medium blue: #2fa1e0
        dark blue: #243a6c  
        dark navy blue: #0a193b
        regular links: #196a96
*/
/*embedded fonts  */
@font-face {
    font-family: 'cabinbold';
    src: url('../fonts/cabin-bold-webfont.eot');
    src: url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-bold-webfont.woff2') format('woff2'),
         url('../fonts/cabin-bold-webfont.woff') format('woff'),
         url('../fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cabinitalic';
    src: url('../fonts/cabin-italic-webfont.eot');
    src: url('../fonts/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-italic-webfont.woff2') format('woff2'),
         url('../fonts/cabin-italic-webfont.woff') format('woff'),
         url('../fonts/cabin-italic-webfont.ttf') format('truetype'),
         url('../fonts/cabin-italic-webfont.svg#cabinitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fengardo_neueblack';
    src: url('../fonts/fengardoneue_black-webfont.eot');
    src: url('../fonts/fengardoneue_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fengardoneue_black-webfont.woff2') format('woff2'),
         url('../fonts/fengardoneue_black-webfont.woff') format('woff'),
         url('../fonts/fengardoneue_black-webfont.ttf') format('truetype'),
         url('../fonts/fengardoneue_black-webfont.svg#fengardo_neueblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

header, nav, section, aside, article, footer, video, audio, main {      display: block;
}
* {
    padding:0;
    margin:0;
}
body {
    font-family:'cabinregular',sans-serif;
    background-color:#2fa1e0;
    background-image: linear-gradient(#2fa1e0, white);
}
header {
    background-color:#243a6c;
    background-image:linear-gradient(#2fa1e0, #243a6c 80%);
    color:white;
}
h1 {
    font-family:'fengardo_neueblack', sans-serif;
    font-size:3.75em; /* 60px */
    line-height: 1.5;
    text-shadow: 4px 4px 6px #000;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
    font-size:2.5em;
    color:#243a6c;
    text-align: center;
    border-bottom:dotted 2px #243a6c;
    margin:0 0 .4em;
    padding:.4em 0 0;
}
main{
    background-color:white;
}
img {
    max-width: 100%;
    height:auto;
}

figcaption {
    font-size:.7em;
    font-style: italic;
    font-family:Georgia, serif;
    text-align: center;
}
/* main navigation */
#mainMenu a{
    color:white;
    text-decoration: none;
    display: block;
    padding:.2em .6em;
    border-bottom:solid 1px white; 
}
#mainMenu a:hover {
    background-color:#0a193b;
}
#mainMenu li:nth-child(1){
    border-top:solid 1px white;
}
/* end main navigation */

/* general classes */
.onRight {
    float:right;
    margin-left:.2em;
}
.onLeft {
    float:left;
    margin-right:.2em;
}
.clearIt {
    clear:both;
}
.halfSize {
    max-width:50%;
}

/* footer */
footer {
    
}
















