/*
colors used:
dark blue: 00285c
mid blue: 01a699
dark orange: 7b441c
teal: 17605f
*/

*{
    margin:0;
    padding:0;
}

body{
    background-color:#00285c;
    font-family:arial, sans-serif;
}
#container{
    background-color:white;
    margin:0 auto;
    width:960px;
}
#mainMenu{
    background-color:#026b9a;
    list-style-type:none;
}
#mainMenu li{
    display:inline-block;
}
#mainMenu a{
    color:white;
    text-decoration:none;
    display:block;
    padding: 10px 20px;
    border: solid 2px white;
    margin-bottom:10px;
}
#mainSection{
    margin:10px;
}
#mainSection img{
    padding:20px;
    border:solid 2px #999;
    margin-bottom:10px;
}
.article3{
    float:left;
    margin-right:20px;
    width:300px;
}
.article3:last-child{
    margin-right:0;
}
#footer{
    background-color:#026b9a;
    clear:both;
    color:white;
    padding:10px;
    text-align:center;
}

