/* default clear */
* { margin:0; padding:0}

/* menu: 1st tier */

nav ul li {
    display:inline-block;
    border: solid 1px red;
    padding: 4px 10px;
}

/* menu: 2nd tier */

nav ul li ul {
    position:absolute;
    background-color:whitesmoke;
    display:none;
}

nav ul li:hover ul {
    display:block;
}

nav ul li ul li{
    display:block;
}

/* menu: 3rd tier */
nav ul li ul li ul {
    background-color: skyblue;
}

nav ul li ul li ul li {
        display:none;
}

nav ul li ul li:hover ul li {
    position:relative;
    display:block;
}

#turtle {
    position:fixed;
    top:0px;
    right:0px;
}

/* NOTE: below conditional rule is not working, please fix. */
/*
@document
    url(file:///e/frontEndWebDev1/20/index2.html)
    body {
        background-color:red;
    }
*/


/*
     __             ________           .___ 
    |__|__ __  ____ \_____  \______  __| _/ 
    |  |  |  \/    \  _(__  <_  __ \/ __ |  
    |  |  |  /   |  \/       \  | \/ /_/ |  
/\__|  |____/|___|  /______  /__|  \____ |  
\______|          \/       \/           \/  

*/
