/*
COLORS USED:
#6FAADC (light blue color)
#D95A07 (orange)
#2F7FC4 (blue)
#666 (grey)
*/

/***************************************************************
 NOTE: notes are extracted directly from instructions provided:
****************************************************************/
 

*{ margin:0; padding:0; }

body{
    /* Make the font throughout Verdana, Arial, sans-serif and grey (use 666) */
    font-family:Verdana,Arial,sans-serif;
    color:#666;
}
/* h2 - make the color: #6FAADC (light blue color) */
h2 { color:#6FAADC; margin:20px 0;}
/* Paragraphs and lists should be 12 pixels */
ul, p { font-size: 12px; }

ul{
    margin-left:40px;
}
/* navigation START */
p:first-of-type a:link {
    /* navigation links: regular text color: D95A07 (orange) */
    color:#D95A07;
    /* navigation links: make them look like a button by adding a border all the way around, it should be 1 pixel and use 2F7FC4 (blue) */
    border: solid 1px #2F7FC4;
    /* navigation links: remove the underline */
    text-decoration: none;
    /* navigation links: add a padding all the way around of 4 pixels */
    padding:4px;
    /* navigation links: add margin on the right of each navigation button of 10 pixels */
    margin-right:10px;
}

/* navigation links: When they have been visited they should have grey text and a grey border (use #666). * in order to test your visited link color in all browsers you may need to make the link an actual URL and use target="blank". */
p:first-of-type a:visited{
    color:#666;
    border: solid 1px #666;
}

/* navigation links: When they are hovered they should have a background color of 2F7FC4 (blue) and the text should be white. */
p:first-of-type a:hover{
    background-color:#2F7FC4;
    color:white;
}

/* navigation links: When the user is clicking down on them (active state) they should have a light blue background color (B7D8F5) and blue text (2F7FC4) */
p:first-of-type a:active{
    background-color:#B7D8F5;
    color:#2F7FC4;
}
/* navigation END */

/* mainSection START */

/* Regular page links should have blue text (2F7FC4) and should turn to orange (D95A07) text on hover. */
a { color:#2F7FC4; }
a:visited{ }
a:hover{ color:#D95A07; border: solid 1px yellow;}
a:active{ }

img{
    margin:10px 0 30px 0;
}
/* mainSection END */

/* footer START */

/* footer END */
