body{
    background-color:azure;
    width:960px;
}
#building{
    background-color:bisque
}
#mainRm{
    background-color:brown;
    float:right;
    width:800px;
    height:800px;
}
#powerRm{
    
}
#kitchen{
    
}
#zenRm{
    
}
#library{
    
}
#entrance{
    
}
#cherryRm{
    
}
#plumRm{
    
}
#pineRm{
    
}
#boardRm{
    
}
#eastRm{
    
}
